<h3>Create New Team</h3>
    <form action="/teams" method="POST">
        <p>Name: <input type="text" name="name" id="name"> </p>
        
        <p>Platform: <input type="text" name="platform" id="platform"> </p>
        <input type="submit" id="btn-btn-primary" value="submit">
    </form>